$ButtonBlue: #1484d6;

.Nav-Title {
  text-transform: uppercase;
  opacity: 50%;
  font-size: 10px;
  word-wrap: break-word;
  margin-bottom: 0.5em;
}
.NavLink {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
}
.SideMenu {
  max-width: 200px;
  position: sticky;
  top: 50px;
  height: 100%;  
  .SideBar {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .Nav {
      height: 100%;
      width: 100%;
      padding: 1.2em 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin-right: 450px;
    }
    .NavLink {
      margin-bottom: 1em;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #000;
      font-size: 1rem;
      font-weight: 400;
      svg {
        font-size: 2rem;
        margin-right: 5px;
      }
    }
  }
}
.Nav-Footer {
  p {
    margin-top: .5em;
    font-size: 14px;
    margin-bottom: 1.2em;
  }
  .button {
    text-decoration: none;
    color: #fff;
    background: $ButtonBlue;
    border: 1px solid $ButtonBlue;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    padding: 0.25em 2em;
    cursor: pointer;
    transition: 0.2s;
    word-wrap: none;
  }
  .button:hover {
    background: #fff;
    color: $ButtonBlue;
  }
}
